{% extends "blog/base.html" %} 
{% block sidebar %}
{% endblock sidebar %}

{% block content %}
  <!-- s-content
    ================================================== -->
    <br>
    <br>
    <section class="s-content s-content--narrow s-content--no-padding-bottom">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eos, incidunt blanditiis maiores vel error veniam perspiciatis, debitis facilis id optio, eaque ipsam. Minima quos eaque soluta sed reprehenderit assumenda.</p>

    </div>
    
    </section> <!-- s-content -->
    {% block extras %} {% endblock extras %}
{% endblock %}
