{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if user.is_authenticated %}
    
      <div class="col-md-8">
        <h1 class="mt-4 font-italic border-bottom">
          Add Post
          </h1>
        <div class="form-group ">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}    
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary  btn-lg">Post</button>
        </form>
        <script>
          var name = "{{user.id}}";
          document.getElementById("id_author").value = name;
        </script>
        </div>
      </div>
  {% else %}
  <div class="col-md-8">
    You must be Logged in to Add a Post..
  </div>
  {% endif %}
  {% endblock %}

   