{% extends "blog/base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Post Content Column -->
<div class="col-lg-8">
{% if post in published %}
<!-- Title -->
<h1 class="mt-4">{% block title %} {{ post.title }}  {% endblock title %}</h1>
<!-- Author -->
<p class="lead">
  by
  <a href="#">{{ post.author }}</a> 
  In
  <a href="{% url 'category' post.category %}">{{ post.category|title }}</a>
</p>
<hr>
<!-- Date/Time -->
<p>{{ post.created_on }}</p>
<hr>
<!-- Preview Image -->
{% if post.header_image %}
<img class="img-fluid" src="{{ post.header_image.url }}" height="500">
{% endif %}

<!-- Post Content -->
<p class="lead"></p>
<p>{{ post.content | safe }}</p>
<br>
<hr>
{% for tag in post.tags.all %}
<a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
{% endfor %}
<small>
  {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
          <a href="{% url 'update_post' post.slug  %}">Edit</a>
          <a href="{% url 'delete_post' post.slug  %}">Delete</a>
      {% endif %} 
  {% endif %}
</small>
<!-- <blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in
    <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote> -->
    <div>
      {{ total_likes }} Like{{ total_likes|pluralize }}
      <br>
      <form action="{% url 'like_post' post.slug %}" method="post">
          {% csrf_token %}
      {% if user.is_authenticated %}
          {% if is_liked %}
              <button type="submit" name = "post_id" value = "{{ post.id }}" class="btn btn-danger btn-sm">Dislike</button>
          {% else %}
              <button type="submit" name = "post_id" value = "{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
          {% endif %}
      {% else %}
      <small>You Must Be Logged in To Like<a class="nav-link" href="{% url 'login' %}">Login Here</a></small>
      {% endif %}
      </form>
  </div>
<br>
<hr>
<!-- Author's Bio -->
<div class="media mb-4">
  {% if post.author.profile.profile_pic %}
    <img class="d-flex mr-3 rounded-circle" src="{{ post.author.profile.profile_pic.url }}" alt="{{post.author.username}} Image" height="100">
    {% else %}
    <img class="d-flex mr-3 rounded-circle" src="{% static 'images/default.jpg' %}" alt="Default Image" height="100">
  {% endif %}
    <div class="media-body">
      <h5 class="mt-0">Authors Name</h5>
      <a href="{% url 'profile_page' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
      <h5 class="mt-0">Authors Email</h5>
      {{ post.author.email }}
      <h5 class="mt-0">Authors Bio</h5>
      {{ post.author.profile.bio }}
      <ul class="s-content__author-social">
        {% if post.author.profile.website_url %}
        <li><a href="{{ post.author.profile.website_url }}">Website</a></li>
        {% endif %}

        {% if post.author.profile.facebook_url %}
        <li><a href="{{ post.author.profile.facebook_url }}">Facebook</a></li>
        {% endif %}

        {% if post.author.profile.twitter_url %}
        <li><a href="{{ post.author.profile.twitter_url }}">Twitter</a></li>
        {% endif %}

        {% if post.author.profile.whatsapp_url %}
        <li><a href="{{ post.author.profile.whatsapp_url }}">Whatsapp</a></li>
        {% endif %}

        {% if post.author.profile.instagram_url %}
        <li><a href="{{ post.author.profile.instagram_url }}">Instagram</a></li>
        {% endif %}
    </ul>
    </div> 
</div>
<br>
<hr>
<!-- Comments Form -->
<div class="card my-4">
  {% with post.comments.count as total_comments %}
  
  <div class="card-body">
    <h5 class="card-header">Leave a Comment: {{ total_comments }}-Comment{{total_comments|pluralize}}</h5>
    <a href="{% url 'add_comment' post.slug  %}">Join the Conversation</a>
  </div>
</div> <!--end comment form-->
{% endwith %}


  <!-- Single Comment -->
  {% for comment in post.comments.all %}
  <div class="media mb-4">
    
    <img class="d-flex mr-3 rounded-circle" src="{% static 'images/default.jpg' %}" height="100px">
    <div class="media-body">
      <h5 class="mt-0">{{ comment.name }}</h5>
      <small class="text-muted">
        <time class="comment-time"> commented on {{ comment.created_on }}</time>
      </small>
      <p>{{ comment.body | linebreaks }}</p>
    </div>
  </div>
  {% empty %}
  <p>Be The First to leave a Comment...</p>
  {% endfor %}

<div>
<br/>

<a href="{% url 'blog-home' %}">Back</a>
</div>
{% endif %}
{% if post in featured %}
<!-- Title -->
<h1 class="mt-4">{{ post.title }} <button class="btn btn-primary btn-sm disabled">Featured</button></h1>
<!-- Author -->
<p class="lead">
  by
  <a href="#">{{ post.author }}</a> 
  In
  <a href="{% url 'category' post.category %}">{{ post.category|title }}</a>
</p>
<hr>
<!-- Date/Time -->
<p>{{ post.created_on }}</p>
<hr>
<!-- Preview Image -->
{% if post.header_image %}
<img class="img-fluid" src="{{ post.header_image.url }}" height="500">
{% endif %}

<!-- Post Content -->
<p class="lead"></p>
<p>{{ post.content | safe }}</p>
<br>
<hr>
{% for tag in post.tags.all %}
<a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
{% endfor %}
<small>
  {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
          <a href="{% url 'update_post' post.slug  %}">Edit</a>
          <a href="{% url 'delete_post' post.slug  %}">Delete</a>
      {% endif %} 
  {% endif %}
</small>
<!-- <blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in
    <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote> -->
    <div>
      {{ total_likes }} Like{{ total_likes|pluralize }}
      <br>
      <form action="{% url 'like_post' post.slug %}" method="post">
          {% csrf_token %}
      {% if user.is_authenticated %}
          {% if is_liked %}
              <button type="submit" name = "post_id" value = "{{ post.id }}" class="btn btn-danger btn-sm">Dislike</button>
          {% else %}
              <button type="submit" name = "post_id" value = "{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
          {% endif %}
      {% else %}
      <small>You Must Be Logged in To Like<a class="nav-link" href="{% url 'login' %}">Login Here</a></small>
      {% endif %}
      </form>
  </div>
<br>
<hr>
<!-- Author's Bio -->
<div class="media mb-4">
  {% if post.author.profile.profile_pic %}
    <img class="d-flex mr-3 rounded-circle" src="{{ post.author.profile.profile_pic.url }}" alt="{{post.author.username}} Image" height="100">
    {% else %}
    <img class="d-flex mr-3 rounded-circle" src="{% static 'images/default.jpg' %}" alt="Default Image" height="100">
  {% endif %}
    <div class="media-body">
      <h5 class="mt-0">Authors Name</h5>
      <a href="{% url 'profile_page' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
      <h5 class="mt-0">Authors Email</h5>
      {{ post.author.email }}
      <h5 class="mt-0">Authors Bio</h5>
      {{ post.author.profile.bio }}
      <ul class="s-content__author-social">
        {% if post.author.profile.website_url %}
        <li><a href="{{ post.author.profile.website_url }}">Website</a></li>
        {% endif %}

        {% if post.author.profile.facebook_url %}
        <li><a href="{{ post.author.profile.facebook_url }}">Facebook</a></li>
        {% endif %}

        {% if post.author.profile.twitter_url %}
        <li><a href="{{ post.author.profile.twitter_url }}">Twitter</a></li>
        {% endif %}

        {% if post.author.profile.whatsapp_url %}
        <li><a href="{{ post.author.profile.whatsapp_url }}">Whatsapp</a></li>
        {% endif %}

        {% if post.author.profile.instagram_url %}
        <li><a href="{{ post.author.profile.instagram_url }}">Instagram</a></li>
        {% endif %}
    </ul>
    </div> 
</div>
<br>
<hr>
<!-- Comments Form -->
<div class="card my-4">
{% with post.comments.count as total_comments %}
  
  <div class="card-body">
    <h5 class="card-header">Leave a Comment: {{ total_comments }}-Comment{{total_comments|pluralize}}</h5>
    <a href="{% url 'add_comment' post.slug  %}">Join the Conversation</a>
  </div>
</div> <!--end comment form-->
{% endwith %}
  <!-- Single Comment -->
  {% for comment in post.comments.all %}
  <div class="media mb-4">
    
    <img class="d-flex mr-3 rounded-circle" src="{% static 'images/default.jpg' %}" height="100px">
    <div class="media-body">
      <h5 class="mt-0">{{ comment.name }}</h5>
      <small class="text-muted">
        <time class="comment-time"> commented on {{ comment.created_on }}</time>
      </small>
      <p>{{ comment.body | linebreaks }}</p>
    </div>
  </div>
  {% empty %}
  <p>Be The First to leave a Comment...</p>
  {% endfor %}

<div>
<br/>

<a href="{% url 'blog-home' %}">Back</a>
</div>
{% elif post in post_draft %}
{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
  <!-- Title -->
<h1 class="mt-4">Draft-{{ post.title }} <button class="btn btn-primary btn-sm disabled">Draft</button></h1>
<!-- Author -->
<p class="lead">
  by
  <a href="#">{{ post.author }}</a> 
  In
  <a href="{% url 'category' post.category %}">{{ post.category|title }}</a>
</p>
<hr>
<!-- Date/Time -->
<p>{{ post.created_on }}</p>
<hr>
<!-- Preview Image -->
{% if post.header_image %}
<img class="img-fluid" src="{{ post.header_image.url }}" height="500">
{% endif %}
<!-- Post Content -->
<p class="lead"></p>

<p>{{ post.content | safe }}</p>
<br>
<hr>
{% for tag in post.tags.all %}
<a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
{% endfor %}

<small>
  {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
          <a href="{% url 'update_post' post.slug  %}">Edit</a>
          <a href="{% url 'delete_post' post.slug  %}">Delete</a>
      {% endif %} 
  {% endif %}
</small>
<!-- <blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in
    <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote> -->
<div>
<br/>
<a href="{% url 'blog-home' %}">Back</a>
</div>
{% else %}
<div class="col-md-8">
You Must be Logged in as User to Make Changes to this Post..
</div>
{% endif %}
{% else %}
<div class="col-md-8">
  You Must be Logged in to Make Changes to this post..
</div>
{% endif %}
{% endif %}
</div> <!--end post column-->
{% endblock %}

