{% extends "blog/base.html" %}



{% block content %}
{% block categories_sidebar %}
{% endblock categories_sidebar %}

<div class="col-md-8">

    {% if object_list %}
      <h4 class="my-4 mb-4 font-italic border-bottom">
       
        All Post for {{ month|date:"F Y" }}
    {% endif %}
      </h4>
      <p>Common Tags:
        {% for mt in common_tags %}
          <a href="#" class="badge badge-success">{{mt}}</a>
        {% endfor %}
      </p>
     
      {% for post in object_list %}
          <div class="card mb-4">
              <div class="row no-gutters">
                {% if post.header_image %} 
                    <div class="col-md-4">
                    <img src="{{ post.header_image.url }}" class="card-img img-responsive" height="250px">
                    </div>
                {% endif %}
                <div class="col-md-8">
                  <div class="card-body">
                      <h2 class="card-title">{{ post.title }}</h2>
                      <p class="card-text">{{post.snippet}}</p>
                      <a href="{% url 'post-detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                      Posted on {{ post.created_on}} by 
                      <a href="{% url 'profile_page' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                      <span class="entry__meta-links">
                        in <a href="{% url 'category' post.category %}"><button class="btn btn-primary btn-sm disabled">{{ post.category|title }}</button></a>
                      </span>
                      {% for tag in post.tags.all %}
                      <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
                      {% endfor %}
                    </div>
                    <p><small>
                      {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                          <a href="{% url 'post-detail' post.slug  %}">Comments: {{post.comments.count}}</a>-
                            <a href="{% url 'update_post' post.slug  %}">Edit   </a>
                            <a href="{% url 'delete_post' post.slug  %}">Delete</a>
                        {% endif %}
                      {% endif %}
                      </small></p>          
                  </div>
              </div>
          </div>
        {% endfor %}
            
    {% if is_paginated %}
    <ul class="pagination justify-content-center mb-4">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}" class="page-link">&larr; Newer</a>
      </li>
      {% endif %}
      <span class="current">
        <li class="page-item"></li><a class="btn btn-outline-default" href="#">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a></li>
      </span>
      {% if page_obj.has_next %}
      <li class="page-item disabled">
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.next_page_number }}" class="page-link">Older &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}

  </div>

 {% endblock %}
 
