{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <div class="col-md-8">
          <h1 class="mt-4 font-italic border-bottom">
            Update Post
          </h1>
          <form action="" method="post">
              {% csrf_token %} 
              {{ form.media }}
              {{ form | crispy }}    
              <button type="submit" class="btn btn-primary  btn-lg">Update</button>
          </form>
        </div>
      {% endif %}
  {% else %}
  <div class="col-md-8">
      You must be Logged in to Update a Post..
    </div>
    {% endif %}
    {% endblock %}