{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% block categories_sidebar %}
{% endblock categories_sidebar %}
  {% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
      <div class="col-md-8">
        <h1 class="my-4 font-italic border-bottom">
          Update Profile Information
        </h1>
      <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary  btn-lg">Update Profile</button>
        </form>
      </div>
    </div><!-- /.blog-main -->
    {% else %}
    <div class="col-md-8">
    <p>You Can't Update This Profile, login to your own account<small></small><a class="nav-link" href="{% url 'login' %}">Login Here</a></small></p>
    <p>Don't Have an Account? <small><a class="link" href="{% url 'register' %}">Register Here</a></small></p>
    </div>
    {% endif %}
  {% else %}
  <div class="col-md-8">
    <p>You must be Logged in to Update This Profile..<small><a class="link" href="{% url 'login' %}">Login Here</a></small></p>
    <p>Don't Have an Account?<small><a class="link" href="{% url 'register' %}">Register Here</a></small></p>
  </div>
  {% endif %}
{% endblock %}
   